mysql_servers =
(
    {
        address="192.168.99.100"
        port=3306
        hostgroup=1
        max_connections=200
    }
)

mysql_query_rules:
(
    {
        rule_id=1
        active=1
        match_pattern="\* FROM `user_contact_profile`"
        replace_pattern="id, bizid, 'xxx' contact_login_id, 'xxx' contact_first_name, 'xxx' contact_last_name, 999999999 contact_phone_number, 'xxx@xxx.xxx' contact_email, contact_language_preference, contact_role, created_date, active, test_partner, amended_date, created_by, amended_by FROM user_contact_profile"
        destination_hostgroup=1
        apply=1
    }
)
